<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ServletCliente</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCliente</servlet-name>
		<url-pattern>/ServletCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletRendimento</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletRendimento</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRendimento</servlet-name>
		<url-pattern>/ServletRendimento</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletContato</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletContato</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContato</servlet-name>
		<url-pattern>/ServletContato</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletInsumo</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletInsumo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletInsumo</servlet-name>
		<url-pattern>/ServletInsumo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletRacao</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletRacao</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRacao</servlet-name>
		<url-pattern>/ServletRacao</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletGado</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletGado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGado</servlet-name>
		<url-pattern>/ServletGado</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletManejo</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletManejo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletManejo</servlet-name>
		<url-pattern>/ServletManejo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletRegiao</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletRegiao</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRegiao</servlet-name>
		<url-pattern>/ServletRegiao</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletVendaRacao</servlet-name>
		<servlet-class>br.com.gadoboi.servlet.ServletVendaRacao</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletVendaRacao</servlet-name>
		<url-pattern>/ServletVendaRacao</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
